@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
:root{
    --bgc: rgba(233, 234, 240, 0.863);
    --border: rgb(188, 188, 192);
}
*{  
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
body{
    background-color: var(--bgc);
}
.container{
    
    border: 1px solid rgb(188, 188, 192);
    display: grid;
    justify-content: center; 
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}
buttons{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(188, 188, 192);
    background-color: white;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    
}
buttons:hover{
    background-color: rgba(231, 230, 230, 0.561);
}

.output{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 2em;
    text-align: end;
    word-wrap: break-word;
    word-break: break-all;
    grid-column: 1 / -1;
    background-color: white;
    border: 1px solid rgb(188, 188, 192);
    padding: 4px;
}
.previous{
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.486);
}
.span2{
    grid-column: span 2;
}
#equal{
    background-color: rgb(87, 71, 230);
}
#percent:hover{
    cursor: not-allowed;
}